:root{
    --a4width:209mm;
    --a4height:295mm;
    --title-font: serif;
    --content-font: sans-serif;
}

html, body{
    width:100%;
    height:100%;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* border: 2px  solid red; */
}
body{
    background-color:rgb(255, 228, 196);
}

#printBtn{
    background-color: rgba(172, 255, 47, 0.6);
    border:1px solid green;
    border-radius: 5px;
    font-size: 1rem;
    color: gray;
    padding: 5px;
    position: fixed;
    bottom: 10%;
    right:10%;
}

#page{
    width: var(--a4width);
    height: var(--a4height);
    box-shadow: 1px 1px 13px 1px rgb(172, 153, 131);
    margin: 0mm auto;
    padding:5mm;
    border-radius: 10px;
}
#page{
    display:grid;
    grid-template-columns: 35% auto;
    grid-template-rows: 20mm auto;
    grid-template-areas: "header header"
                         "aside conBlock";
    gap:2mm;
}
/* header Styling start */
header{
    /* width:100%; */
    /* height:20%; */
    /* border: 2px  solid red; */
    /* flexSetting */
    /* flex-direction:column; */
    /* gap:3mm; */
    text-align: center;
    padding: 1mm 0;
    grid-area:header;
    background-color:rgba(255, 192, 203, 0.312);
}

#name{
    font-size:10mm;
    text-transform: uppercase;
}
#status{
    font-size:5mm;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
/* header Styling end */
/* sidebar styling Start */
aside{
    /* width:35%; */
    /* height:80%; */
    grid-area:aside;
    background-color:rgba(255, 108, 108, 0.274);
    border-radius:5px;
    padding: 1mm 2mm;
}
aside .heading{
    text-transform:uppercase;
    margin:4mm 0 1mm 0;
    color: rgb(255, 68, 0);
}

aside .sub-heading{
    font-weight: 700;
    margin: 1mm 0 1mm 0;
}

aside ul{
    list-style-type:none;
    /* list-style-image: url("./Files/doc.svg") !important; */
    padding-left: 3mm;
}
aside li{
    background-repeat: no-repeat;
    background-position: left top;
    text-transform: capitalize;
}
aside div{
    /* margin-bottom:0mm !important; */
}
aside #qrBlock{
    width:40mm;
    height:40mm;
    background-image: url('./Files/resuemQR.svg') !important;
    background-size:40mm ;
    background-repeat: no-repeat;
    margin:1mm auto;
}
aside #ContactInfoBlock{
    padding-top: 2mm;
    padding-left: 3mm;
}
aside #ContactInfoBlock ul{
    /* background-color: rgb(255, 135, 155); */
    padding:0 2mm ;
    margin: 2mm 0;
    font-style: italic;
}
aside #ContactInfoBlock a{
    text-decoration: none;
}
aside #ContactInfoBlock #address {
    /* list-style-image: url('./Files/location-arrow.svg'); */
    background-image: url('./Files/location-arrow.svg');
}
aside #ContactInfoBlock #phNum {
    background-image: url('./Files/phone.svg');
}
aside #ContactInfoBlock #Email{
    background-image: url('./Files/email.svg');
}
aside #ContactInfoBlock #github{
    background-image: url('./Files/github.svg');
}
aside #ContactInfoBlock #linkdin{
    background-image: url('./Files/linkdin.svg');
}
aside #ContactInfoBlock li{
    padding-left:5mm;

}

aside #skillInfoBlock li>ul li{
    padding-left:7mm;
    color:rgb(44, 66, 0);
}

aside #skillInfoBlock #language li{
    /* background-image: url('./Files/code.svg'); */
    /* background-size:5mm; */
}
aside #skillInfoBlock #database li{
   
    /* background-size:4mm; */
}
aside #intrestBlock ul li{
    /* list-style-image: url('./Files/bookmark.svg') */
}

aside #intrestBlock ul li{
    /* margin-top:3mm; */
    background-image: url('./Files/bookmark.svg');
    background-size: 3mm;
    padding-left:5mm;
}
aside #strengthBlock ul{
    /* list-style-image: url('./Files/dumbbell.svg'); */
}
aside #strengthBlock li{
    background-image: url('./Files/dumbbell.svg');
    background-size:5mm;
    padding-left:7mm;
    background-position:left center;
    margin-top:2mm;
}
aside #achivementBlock ul li{
    background-image: url("./Files/trophy.svg");
    background-size: 5mm;
    background-position: left top;
    padding-left:7mm;
} 
aside #otherInfoBlock ul li{
    margin: 1mm 0;
   
}
aside div{
    margin: 1mm auto;
}
/* Sidebar styling End */

/* contant Block Styling Start */
main{
    /* width:60%; */
    /* height:70%; */
    grid-area:conBlock;
    padding:1mm 3mm;
}
main .heading{
    text-transform:uppercase;
    margin:2mm 0 0mm 0;
}

main #profileBlock p{
    text-align:justify;
    font-size: small;
    text-indent:10mm;
    font-family: var(--content-font);
}

/* Main list styling */
main #EduBlock ul {
    /* list-style-type:symbols("i"); */
    margin-left: 5mm;
    list-style-type:none;
    font-size: 15px;
}

main #EduBlock ul ul {
    /* list-style-type: circle; Nested list में हल्के बुलेट */
}

main #EduBlock li{
    background-image: url('./Files/graduationCap.svg');
    background-repeat:no-repeat;
    background-size: 5mm;
    padding-left: 6mm;
    margin-bottom:2mm;
}

main #OthExpBlock li{
    margin-left:10mm;
    font-size: 13px;
}

/* ------- write here-------- */
main #ProjectBlock a{
    text-decoration: none;
}
main #ProjectBlock ul{
     padding-left: 205px;
     font-size: .8rem;
}
main #ProjectBlock ul li{
    background-color: rgba(245, 245, 245, 0.2);
    padding: 5px 12px;
    text-align: justify;
    border-radius: 3px;
}

main > div{
    /* background-color:rgba(255, 114, 114, 0.25); */
    /* box-shadow: 1px 1px 3px 2px rgba(255, 114, 114, 0.144); */
    /* margin-bottom:2mm; */
    padding:1mm 1mm;
    border-radius: 5px;
}

main{
    background-color: rgba(0, 128, 0, 0.291);
}

/* costom buttes start*/
main #ProjectBlock ul.custom-bullet {
    list-style : none;
    padding-left: 3mm;
}

main #ProjectBlock ul.custom-bullet li{
    position: relative;
    padding-left: 25px;
    margin:4px;
    line-height: 140%;
}

main #ProjectBlock ul.custom-bullet li::before{
    content: '📂  ';
    position: absolute;
    left:0;
    top: 0px;
    width: 14px;
    height:14px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(30%, 40%);
}
main #ProjectBlock .projectTitle{
    font-weight: 700;
}
/* custom bullets end */
/*constom icons*/
.c-icon{
    background-image: url('./Files/c.svg');
}
.python-icon {
    background-image: url('./Files/python.svg');
}

.html-icon {
    background-image: url('./Files/css3-alt.svg');
}

.js-icon{
    background-image: url('./Files/js.svg');
}

.java-icon{
    background-image: url('./Files/java.svg');
}

.sql-icon{
     background-image: url('./Files/database.svg');
 }
.django-icon{
    background-image: url('./Files/django-logo-negative.svg');
    background-size: contain;
}
/* Content Block Styling End */
.flexMe{
    display:flex;
    justify-content:center;
    align-items:center;
}

.listTitle{
    font-weight: 800;
}

.listSyleSetting{
    list-style-type:none;
    background-repeat: no-repeat;
    background-position: left center;
    background-size:5mm;
}

@media print {
    #page {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
        box-shadow: none;
        border:1px solid black;
    }
    .no-print {
        display: none; /* कुछ एलिमेंट्स को प्रिंट में हटा सकते हैं */
    }
    @page{
        size: A4;
    }
    #printBtn {
        display: none;
    }
}
