:root{
    --a4width:209mm;
    --a4height:295mm;
    --title-font: serif;
    --content-font: sans-serif;
}

html, body{
    width:100%;
    height:100%;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* border: 2px  solid red; */
}
body{
    background-color:rgb(255, 228, 196);
}

#page{
    width: var(--a4width);
    height: var(--a4height);
    box-shadow: 1px 1px 13px 1px rgb(172, 153, 131);
    margin: 0mm auto;
    padding:5mm;
    border-radius: 10px;
}
#page{
    display:grid;
    grid-template-columns: 35% auto;
    grid-template-rows: 9% auto;
    grid-template-areas: "header header"
                         "aside conBlock";
    gap:2mm;
}
/* header Styling start */
header{
    /* width:100%; */
    /* height:20%; */
    /* border: 2px  solid red; */
    /* flexSetting */
    /* flex-direction:column; */
    /* gap:3mm; */
    text-align: center;
    padding: 2mm 0;
    grid-area:header;
    background-color:rgba(255, 192, 203, 0.312);
}

#name{
    font-size:11mm;
    text-transform: uppercase;
}
#status{
    font-size:7mm;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
/* header Styling end */
/* sidebar styling Start */
aside{
    /* width:35%; */
    /* height:80%; */
    grid-area:aside;
    background-color:rgba(255, 108, 108, 0.274);
    border-radius:5px;
    padding: 3mm 6mm;
}
aside .heading{
    text-transform:uppercase;
    margin:1mm 0 1mm 0;
    color: rgb(255, 68, 0);
}

aside .sub-heading{
    font-weight: bold;
    margin: 2mm 0 1mm 0;
}

aside ul{
    list-style-type:none;
    /* list-style-image: url("./Files/doc.svg") !important; */
    padding-left: 3mm;
}
aside li{
    background-repeat: no-repeat;
    background-position: left top;
    text-transform: capitalize;
}
aside div{
    /* margin-bottom:3mm; */
}
aside #qrBlock{
    width:40mm;
    height:40mm;
    background-image: url('./Files/resuemQR.svg') !important;
    background-size:40mm ;
    background-repeat: no-repeat;
    margin:3mm auto;
}

#ContactInfoBlock ul{
    /* background-color: rgb(255, 135, 155); */
    padding:0 5mm ;
    margin: 2mm 0;
    font-style: italic;
}
#ContactInfoBlock a{
    text-decoration: none;
}
#ContactInfoBlock #address {
    /* list-style-image: url('./Files/location-arrow.svg'); */
    background-image: url('./Files/location-arrow.svg');
}
#ContactInfoBlock #phNum {
    background-image: url('./Files/phone.svg');
}
#ContactInfoBlock #Email{
    background-image: url('./Files/email.svg');
}
#ContactInfoBlock #github{
    background-image: url('./Files/github.svg');
}
#ContactInfoBlock #linkdin{
    background-image: url('./Files/linkdin.svg');
}
#ContactInfoBlock li{
    padding-left:5mm;

}

#skillInfoBlock li>ul li{
    padding-left:7mm;
    color:rgb(44, 66, 0);
}

#skillInfoBlock #language li{
    background-image: url('./Files/code.svg');
    background-size:5mm;
}
#skillInfoBlock #database li{
    background-image: url('./Files/database.svg');
    background-size:4mm;
}
#intrestBlock ul li{
    /* list-style-image: url('./Files/bookmark.svg') */
}

#intrestBlock ul li{
    margin-top:3mm;
    background-image: url('./Files/bookmark.svg');
    background-size: 3mm;
    padding-left:5mm;
}
#strengthBlock ul{
    /* list-style-image: url('./Files/dumbbell.svg'); */
}
#strengthBlock li{
    background-image: url('./Files/dumbbell.svg');
    background-size:5mm;
    padding-left:7mm;
    background-position:left center;
    margin-top:2mm;
}
#achivementBlock ul li{
    background-image: url("./Files/trophy.svg");
    background-size: 5mm;
    background-position: left top;
    padding-left:7mm;
} 
#otherInfoBlock .title{
    font-weight:600;
}
aside div{
    margin-top: 4mm;
}
/* Sidebar styling End */

/* contant Block Styling Start */
#conBlock{
    /* width:60%; */
    /* height:70%; */
    grid-area:conBlock;
    padding:1mm 3mm;
}
#conBlock .heading{
    text-transform:uppercase;
    margin:2mm 0 0mm 0;
}

#profileBlock p{
    text-align:justify;
    font-size: small;
    text-indent:10mm;
    font-family: var(--content-font);
}

/* Main list styling */
#EduBlock ul {
    /* list-style-type:symbols("i"); */
    margin-left: 5mm;
    list-style-type:none;
}

#EduBlock ul ul {
    /* list-style-type: circle; Nested list में हल्के बुलेट */
}

#EduBlock li{
    background-image: url('./Files/graduationCap.svg');
    background-repeat:no-repeat;
    background-size: 5mm;
    padding-left: 6mm;
    margin-bottom:2mm;
}

#OthExpBlock li{
    margin-left:10mm;
}

#ProjectBlock .projectTitle{
    font-weight:bold;
    font-size:16px;
    font-family: var(--title-font);
}

#ProjectBlock p{
    font-size:small;
    text-align: justify;
    font-family: var(--content-font);
}

#ProjectBlock ul{
    list-style-type:none;
    /* list-style-image: url('./Files/check.svg') */
}

#ProjectBlock ul li{
    background-image: url("./Files/folder_open.svg");
    background-repeat: no-repeat;
    background-size: 5mm;
    /* background-position: left top; */
    padding-left:7mm !important;
    margin: 1mm 0 0 3mm;
    padding: 1mm;
    background-color: rgba(255, 255, 255, 0.192);
}

#ProjectBlock a{
    text-decoration:solid;
}

#conBlock > div{
    /* background-color:rgba(255, 114, 114, 0.25); */
    /* box-shadow: 1px 1px 3px 2px rgba(255, 114, 114, 0.144); */
    /* margin-bottom:2mm; */
    padding:1mm 1mm;
    border-radius: 5px;
}

#conBlock{
    background-color: rgba(0, 128, 0, 0.291);
}

/* Content Block Styling End */
.flexMe{
    display:flex;
    justify-content:center;
    align-items:center;
}

.listTitle{
    font-weight: 800;
}

.listSyleSetting{
    list-style-type:none;
    background-repeat: no-repeat;
    background-position: left center;
    background-size:5mm;
}

@media print {
    #page {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
    .no-print {
        display: none; /* कुछ एलिमेंट्स को प्रिंट में हटा सकते हैं */
    }
    @page{
        size: A4;
    }
}